<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script src="lib/angular.js"></script>
    <script src="app/app.js"></script>
</head>
<body ng-app="Main" ng-controller="MainCtrl">
    <p>Click on button and text box will be populated with model</p>
    
    <input type="text" ng-model="idNumber" /><input type="button" value="Add Student" ng-click="addStudent()"/>
    <br />
    <br />
     
</body>
</html>
