<!DOCTYPE html>
<html lang="en">
<head>
    <title>VividCortex reCaptcha Directive Example</title>
    <link href="style/bootstrap.css" rel="stylesheet">
    <link href="kendo/styles/kendo.common.core.min.css" rel="stylesheet">
    <link href="kendo/styles/kendo.common.min.css" rel="stylesheet">

    <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet">
    <link href="kendo/styles/kendo.dataviz.min.css" rel="stylesheet">
    <link href="kendo/styles/kendo.flat.min.css" rel="stylesheet">
    <link href="kendo/styles/kendo.flat.mobile.min.css" rel="stylesheet">
    <link href="kendo/styles/kendo.dataviz.flat.min.css" rel="stylesheet">


    <script src="lib/jquery.js"></script>
    <script src="lib/angular.js"></script>
    <script src="kendo/js/kendo.all.min.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="lib/bootstrap.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="lib/ng-file-upload.min.js"></script>

    <script src="angGridFileUpload.js"></script>


    <style>
        
    </style>

</head>
<body>
    <div ng-app="testApp" ng-controller="testCtrl">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1 ng-bind="activated"></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table border="1" class="table table-bordered table-hover table-condensed">
                        <thead style="background-color:lightGray">
                            <tr>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Fore Color</th>
                                <th>Background Color</th>
                                <th>File Upload</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="contact in model.contacts">
                            <tr ng-include="getTemplate(contact)">
                            </tr>
                        </tbody>
                    </table>

                    <script type="text/ng-template" id="display">
        <td  style="width:15%">{{contact.firstName}}</td>
        <td  style="width:15%">{{contact.lastName}}</td>
        <td style="width:15%;padding:4px;"> 
                        <div style="height:40px; width:40px; font-weight:bold; font-size:18px;" ng-style="{'color':contact.foreColor}">MCAL</div></td>
                    
                            <td style="width:15%;padding:5px;">
                        <div style="height:20px; width:20px;" ng-style="{'background-color':contact.bgColor}"></div></td>
                        </td>
                        <td style="width:15%"></td>


        <td style="width:25%">
            <button ng-click="editContact(contact)" class="btn btn-sm btn-default">Edit</button>
        </td>
                    </script>
                    <script type="text/ng-template" id="edit">
        <td style="width:15%"><input id="{{$index}}" type="text" class="editableTxt"  ng-model="model.selected.firstName"/></td>
        <td style="width:15%"><input type="text" class="editableTxt" ng-model="model.selected.lastName" /></td>
                        <td style="width:15%">
                           <input kendo-color-picker ng-model="model.selected.foreColor" k-buttons="true" k-preview="true" k-input="false" />
                        </td>
                        <td style="width:15%">
                             <input kendo-color-picker ng-model="model.selected.bgColor" k-buttons="true" k-preview="true" k-input="false" />
                        </td>
                        <td style="width:15%">
                       
                      <span ngf-select ng-model="model.selected.icon" name="file"  
                                    ngf-max-size="20MB">Upload Icon
                                </span>
                        </span>
                        <b>{{model.selected.icon.name || 'empty'}}</b>
                    <img src="images/upload.png" ng-click="uploadDocument(model.selected.icon,$index)" style="cursor: pointer"/>

                        </td>
        <td style="width:25%">
            <button ng-click="saveContact($index)" class="btn btn-sm btn-primary">Save</button>
            <button ng-click="reset()" class="btn btn-sm btn-default">Cancel</button>
        </td>
                    </script>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    
                      

                </div>

            </div>
        </div>

    </div>
</body>
</html>
