<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script src="lib/angular.js"></script>
    <script src="app/app.js"></script>
</head>
<body ng-app="Main" ng-controller="MainCtrl">
    <h1>Student Application</h1>

    <table>
        <tr>
            <th>Roll</th>
            <td>
                <input type="text" ng-model="studentRoll" /></td>
        </tr>
        <tr>
            <th>Name</th>
            <td>
                <input type="text" ng-model="studentName" /></td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input type="button" value="Add Student" ng-click="AddStudent()" /></td>
        </tr>
    </table>

    <br />
    <br />
    <br />
     
    <table border="1">
        <thead>
            <tr>
                <th>Roll
                </th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="std in allStudent">
                <td>{{std.studentRoll}}</td>
                <td>{{std.studentName}}</td>
                <td><a href="#">Edit</a>  <a href="#">Delete</a></td>
            </tr>
        </tbody>
    </table>

</body>
</html>
