<!DOCTYPE html>
<html lang="en">
<head>
    <title>VividCortex reCaptcha Directive Example</title>

    <!-- Bootstrap is NOT required, it's just here to make the demo look better -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <!-- Include AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js"></script>
    <!-- define your app and make it depend on vcRecaptcha module -->
    <script>
        var app = angular.module('testApp', []);

        app = angular.module('testApp').filter('smbMDNFormat', function () {
            return function (value) {
                return value.slice(0, 3) + "-" + value.slice(3, 6) + "-" + value.slice(6, 10);
            };
        });

        app.directive('placeholder', function ($timeout) {
            var i = document.createElement('input');
            if ('placeholder' in i) {
                return {}
            }
            return {
                link: function (scope, elm, attrs) {
                    if (attrs.type === 'password') {
                        return;
                    }
                    $timeout(function () {
                        elm.val(attrs.placeholder);
                        elm.bind('focus', function () {
                            if (elm.val() == attrs.placeholder) {
                                elm.val('');
                            }
                        }).bind('blur', function () {
                            if (elm.val() == '') {
                                elm.val(attrs.placeholder);
                            }
                        });

                        elm.bind('change',function(){
                            console.log('change');
                            elm.val();
                            if (elm.val() == '') {
                                elm.val(attrs.placeholder).trigger('input');
                            }
                            scope.$apply(function(){
                                scope.linePlaceHolder="ram";
                                console.log(attrs.placeholder);
                            });

                            scope.$apply();
                        });


                    });
                }
            }
        });


        app.controller('testCtrl', function ($scope, $timeout) {

            var activeMdns =["1111111111", "2222222222", "3333333333"];
            var completedMDNs = ["4444444444", "5555555555"];

            var subscribers = [
                {"mobileNumber": "1111111111", "firstName": "Amit", "lastName": "Debadwar"},
                {"mobileNumber": "2222222222", "firstName": "surya", "lastName": "Navuru"},
                {"mobileNumber": "3333333333", "firstName": "ankush", "lastName": "kobragade"},

                {"mobileNumber": "4444444444", "firstName": "sruthi", "lastName": "vijayan"},
                {"mobileNumber": "5555555555", "firstName": "Disha", "lastName": "Deviaya"},

                {"mobileNumber": "8888888888", "firstName": "just", "lastName": "Dial"},
                {"mobileNumber": "9999999999", "firstName": "ola", "lastName": "cabs"}
            ];

            $scope.pageLoad = function () {

                function MapSMBLines(source, target, claimStatus) {
                    if (source && target) {
                        return source.filter(function (item, index) {
                            if (target.indexOf(item.mobileNumber) > -1) {
                                item.claimStatus = claimStatus;
                                return true;
                            }
                        });
                    }
                }

                var active = MapSMBLines(subscribers, activeMdns, 'Active');
                var completed = MapSMBLines(subscribers, completedMDNs, 'Completed');

                if (active && completed)
                    var subAll = active.concat(completed);

                var noStatusLines = subscribers.filter(function (obj) {
                    if (obj && subAll) {
                        return !subAll.some(function (obj2) {
                            return obj.mobileNumber == obj2.mobileNumber;
                        });
                    }
                });

                if(subAll && noStatusLines)
                $scope.lines = subAll.concat(noStatusLines);

                $scope.showActiveLines = function () {
                    $scope.searchLines = "Active";
                    $scope.linePlaceHolder = "Active claims";
                };

                $scope.showCompletedLines = function () {
                    $scope.searchLines = "Completed";
                    $scope.linePlaceHolder = "Completed claims";
                };

                $scope.clearLines = function () {
                    $scope.searchLines = "";
                    if ($scope.searchLines)
                        $scope.linePlaceHolder = "Search by Name/MDN/Claim status";
                };

                if (!$scope.searchLines)
                    $scope.linePlaceHolder = "Search by Name/MDN/Claim status";
            };

            $scope.pageLoad();
        });

    </script>

</head>
<body>
<div class="container" ng-app="testApp" ng-controller="testCtrl">

    <h1>Dashboard page SMB</h1>

    <div id="cont">
        <!--<input type="button" ng-click="interSectMe()"/>-->
    </div>
    <br>
    <a href="#" ng-click="showActiveLines()">Active</a> &nbsp <a href="#" ng-click="showCompletedLines()">Completed</a>
    </br></br>


    <input type="text" ng-model="searchLines" placeholder="{{linePlaceHolder}}" style="width:260px;"></input>
    <input type="button" ng-click="clearLines()" value="X"></input>
    <br>
    <br>


    <table cellpadding="15" cellspacing="15" width="300">
        <thead></thead>
        <tbody>
        <tr ng-repeat="line in lines | filter: searchLines">
            <td>
                <a href="#"> {{line.firstName}} {{line.lastName}}</a>
            </td>
            <td>
                <a href="#"> {{line.mobileNumber | smbMDNFormat}}</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>