<div class="container-fluid">

    <div class="row">
        <div class="col-md-5">
            <h2>Create New Rule</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Some text goes here.
        </div>
    </div>

    <div class="row" style="padding-top:10px;">


        <div class="col-md-4">
            <form class="form-inline">


                <div class="form-group has-feedback" ng-class="{'has-error':vm.isRunNameError}">
                    <label class="control-label">Run Name</label>
                    <input type="text" tabindex="1"
                           class="form-control k-textbox"
                           id="txtRunName"
                           ng-blur="vm.submitRunName()"
                           ng-focus="vm.focusRunName()"
                           ng-model="vm.runNameModel">

                </div>
            </form>
        </div>


        <div class="col-md-4">
            <label>Run Description:</label>
            <input type="text" tabindex="2" id="txtRunDescription" name="txtRunDescription" class="k-textbox"
                   placeholder=""
                   required validationMessage="" style="width: 220px;"
                   ng-model="vm.runDescriptionModel"/>

        </div>
    </div>


    <div class="row" id="drpList">
        <div class="col-md-1 box">
            <small>FININCIAL SET</small>

            <select kendo-drop-down-list class="drpList"
                    k-data-text-field="'name'"
                    k-data-value-field="'id'"
                    k-data-source="vm.financialStateDS"
                    ></select>
        </div>

        <div class="col-md-1 box">
            <small>INVENTORY SET</small>

            <select kendo-drop-down-list class="drpList"
                    k-data-text-field="'name'"
                    k-data-value-field="'id'"
                    k-data-source="vm.financialStateDS"
                    ></select>
        </div>

        <div class="col-md-1 box">
            <small>LEGER</small>

            <select kendo-drop-down-list class="drpList"
                    k-data-text-field="'name'"
                    k-data-value-field="'id'"
                    k-data-source="vm.financialStateDS"
                    ></select>
        </div>

        <div class="col-md-2 box">
            <small>REPORTING PERIOD</small>
            <input kendo-date-picker class="drpList"
                   k-options="vm.datePickerOptions"
                   k-format="'MMMM yyyy'"
                   style="width: 100%;"/>
        </div>

        <div class="col-md-1 box">
            <small>CATALOG</small>

            <select kendo-drop-down-list class="drpList"
                    k-data-text-field="'name'"
                    k-data-value-field="'id'"
                    k-data-source="vm.financialStateDS"
                    ></select>
        </div>

        <div class="col-md-1 box">
            <small>DRIVER SET</small>

            <select kendo-drop-down-list class="drpList"
                    k-data-text-field="'name'"
                    k-data-value-field="'id'"
                    k-data-source="vm.financialStateDS"
                    ></select>

        </div>

        <div class="col-md-2 box">

            <small>ALLOCATION RULES SET</small>

            <select kendo-drop-down-list class="drpList"
                    k-data-text-field="'name'"
                    k-data-value-field="'id'"
                    k-data-source="vm.financialStateDS"
                    ></select>

        </div>
    </div>


    <div class="row" style="padding-top: 10px;">
        <div class="col-md-12" style="background-color:#00d4d1;">
            <button type="button" class="btn btn-primary btn-sm  pull-right">Save</button>
        </div>
    </div>


    <div class="row" style="padding-top: 10px;">

        <div class="col-md-12">
            <div kendo-grid style="width:100%;"
                 k-options='vm.gridOptions'>
            </div>
        </div>

    </div>


</div>

