@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
           
        </div>
    </section>
}
<h3>Index page</h3>
<script src="~/Scripts/angular.js"></script>

<script src="~/app/app.js"></script>
<script src="~/app/controller/MainCtrl.js"></script>
<script src="~/app/controller/SecondCtrl.js"></script>

<script src="~/app/service/serviceGetname.js"></script>
<script src="~/app/service/serviceMath.js"></script>


<div ng-app="testMod">
    <div ng-controller="MainCtrl">
        <h1 ng-bind="msg"></h1><br />
        with service: <b ng-bind="math"></b>
    </div>
    <br />
    #################################################
    <br />
    <div ng-app="testMod" ng-controller="SecondCtrl">
        <h1 ng-bind="msg"></h1>
        <br />
        with service: <b ng-bind="svr"></b>
    </div>
</div>
